<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='snd.css') }}">
    <head>
        <meta charset="utf-8">
        <title>auuuu</title>
    </head>
    <body>
        <h1>Witaj na mojej stronie domowej</h1>
        <h2><img class="zdj"> <img src="https://uploads.kodilla.com/bootcamp/py/08/code.jpg" style="width: 300px; height: 300px;"Laptop screen with code" title="Code">
        </h2>
        <h3>Kontakt</h3>
        </h3>
        <h4>
            <ul>email: zielonypluszak@gmail.com</ul>
            <ul>telefon: 123456789</ul>
            <form action="" method="POST">
                <label>Twoja nazwa</label>
                <input name="firstname"/>
            <form action="" method="GET">
                <label>Wiadomosc</label>
                <input name="Message"/>
                <input type="submit"/>
        </h4>

    </body>
</html>
